<!DOCTYPE html>
<html>
<head>
    <title>Pagedit</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/redactor.min.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/custom.css')}}" />
</head>
<body>
    <div id="page">
    <h1>Pagedit</h1>
    <textarea id="content" name="content"></textarea>
    </div>
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/redactor.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/custom.js')}}"></script>
    <script type="text/javascript">
    $(document).ready(
        function()
        {
            $('#content').redactor({
                plugins: ['save'],
                placeholder: 'Add content...',
                toolbarFixed: true,
                clipboardUploadUrl: '/_/images/paste',
                imageUpload: '/_/images/add',
                fileUpload: '/_/files/add',
                imageGetJson: '/_/images'
            });
        }
    );
    </script>
</body>
</html>